@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --clr-navbar: #1a202e;
  --clr-main: #1b2435;
  --clr-mainDark: #161e2c;
  --clr-cases: #38f3ea;
  --clr-deaths: #f85656;
  --clr-critical: #ff8a37;
  --clr-recovered: #60f143;
  --clr-tested: #c33eeb;
  --clr-vaccinated: #30acf3;
}

.clr-cases {
  color: var(--clr-cases);
}
.clr-deaths {
  color: var(--clr-deaths);
}
.clr-critical {
  color: var(--clr-critical);
}
.clr-recovered {
  color: var(--clr-recovered);
}
.clr-tested {
  color: var(--clr-tested);
}
.clr-vaccinated {
  color: var(--clr-vaccinated);
}

body {
  background-color: var(--clr-mainDark);
  max-width: 100vw;
}

.credit {
  position: relative;
  bottom: 10px;
  background-color: var(--clr-mainDark);
  display: flex;
  justify-content: center;
}

.credit-link {
  color: #5b5f68;
  font-weight: 600;
}

.credit-link:hover {
  color: gold;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--clr-mainDark);
  background: gold;
}

::selection {
  color: var(--clr-mainDark);
  background: gold;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-mainDark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  animation: spinner 0.8s linear infinite;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  width: 100px;
}

@keyframes spinner {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-mainDark);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(53, 55, 71);
}

::-webkit-scrollbar-thumb:hover {
  background-color: gold;
}

.container {
  min-height: 100vh;
  background-color: var(--clr-mainDark);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 70px;
  column-gap: 10px;
  padding-bottom: 100px;
}

.about-container {
  min-height: 100vh;
  background-color: var(--clr-mainDark);
  width: 100vw;
  padding: 150px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.about-container img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid gold;
}

.about-container h1 {
  margin-top: 10px;
  color: #dddddd;
}
.about-container p {
  max-width: 600px;
}

/* .container::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
} */

.totals-cont {
  background-color: var(--clr-main);
  text-align: center;
  padding: 15px 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.daily-cont {
  background-color: var(--clr-main);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px 30px;
  text-align: center;
}

.son-zamanlar {
  background-color: var(--clr-main);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.son-hafta {
  width: 50%;
  padding: 10px;
}
.son-hafta-report {
  background-color: var(--clr-mainDark);
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10px;
  justify-content: space-between;
}

.son-hafta-report > div {
  padding: 10px;
}

.son-ay {
  width: 50%;
  padding: 10px;
}

.content-cont {
  background-color: var(--clr-mainDark);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: start;
}

.news-cont a {
  text-decoration: none !important;
}

.main-content-cont {
  background-color: var(--clr-main);
  text-align: center;
  padding: 15px 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 800px;
  overflow-y: scroll;
  border-bottom: 10px solid var(--clr-main);
  border-top: 10px solid var(--clr-main);
}

.main-content-cont::-webkit-scrollbar {
  display: none;
}

.news-header {
  font-size: 16px;
}
.news-img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.news-description {
  margin-top: 5px;
  font-size: 12px;
}

.daily-report {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-mainDark);
  padding: 20px;
  border-radius: 5px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.aaa {
  display: flex;
  flex-direction: column;
}

.daily-report > div {
  padding: 0 20px;
}

.nav-bar {
  width: 100%;
  background-color: var(--clr-navbar);
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}
.nav-bar a {
  margin-left: 20px;
  font-weight: 700;
}

.nav-bar a:hover {
  color: gold;
}

.navigation-container {
  display: none;
  flex-direction: column;
  padding: 10px;
}

.nc-active {
  display: flex;
}

.navigation-container a {
  font-size: 20px;
  border: 2px solid gold;
  border-radius: 10px;
  padding: 15px 0;
}

.flag {
  width: 50px;
  border-radius: 10px;
  border: 2px solid white;
}

.extra {
  background-color: #3a414b;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.archive {
  background-color: var(--clr-main);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px 30px;
  margin-top: 10px;
  overflow: hidden;
  max-height: 70vh;
  border-bottom: 5px solid #1b2435;
  position: relative;
}

.haritalar {
  background-color: var(--clr-main);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px 30px;
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
  position: relative;
  height: 690px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg path:hover {
  opacity: 0.8;
}

path {
  transition: 0.1s;
}

svg {
  transform: scale(1.5);
  stroke: white;
  stroke-width: 0.5;
}

.tooltip {
  background-color: white;
  position: absolute;
  z-index: 2;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  pointer-events: none;
  transition: 0.1s;
  display: none;
}

#yy-active {
  fill: #9c1219 !important;
}

.tooltip div {
  color: rgb(58, 58, 58);
  font-weight: 700;
}

th {
  text-align: start;
  background-color: var(--clr-mainDark);
  font-weight: 700 !important;
}

th,
td {
  padding: 10px;
  font-weight: 600;
}

.table-cont {
  font-size: 0.8em;
  background-color: var(--clr-main);
  border-collapse: collapse;
  overflow: hidden;
  min-width: 100%;
  font-size: 20px;
}

.denemetb {
  font-size: 0.8em;
  background-color: var(--clr-main);
  border-collapse: collapse;
  overflow: hidden;
  min-width: 100%;
  font-size: 20px;
  position: sticky;
  top: 0;
  left: 0;
}

.table-cont tbody tr:nth-of-type(even) {
  background-color: var(--clr-mainDark);
}

.table-vaka {
  color: var(--clr-cases);
}
.table-vefat {
  color: var(--clr-deaths);
}
.table-kritik {
  color: var(--clr-critical);
}
.table-iyilesen {
  color: var(--clr-recovered);
}
.table-test {
  color: var(--clr-tested);
}

.aciklama {
  position: absolute;
  max-width: 25%;
  left: 30px;
  bottom: 20px;
  text-align: start;
  font-size: 24px;
}

.risk-yy-1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
}
.risk-yy {
  position: absolute;
  top: 15px;
  right: 30px;
  background-color: #df1a23;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.aciklama:hover:after {
  content: "Yüz binde 19.99 un altında vaka görülen iller düşük riskli, Yüz binde 20-49.99 arası vaka olan iller orta riskli, Yüz binde 50-99.99 arası vakası bulunan iller yüksek riskli, Yüz binde 100ün üstünde vaka seyri görülen iller ise çok yüksek riskli olarak hesaplanmistir.";
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--clr-mainDark);
  padding: 10px;
  font-size: 12px;
  width: 300px;
  z-index: 2;
}

/* Yüz binde 19.99'un altında vaka görülen iller "düşük riskli",
Yüz binde 20-49.99 arası vaka olan iller "orta riskli",
Yüz binde 50-99.99 arası vakası bulunan iller "yüksek riskli",
Yüz binde 100'ün üstünde vaka seyri görülen iller ise "çok yüksek riskli" */

@media all and (max-width: 1440px) {
  svg {
    transform: scale(1.2);
  }

  .risk-yy-1 {
    font-size: 36px;
  }
  .risk-yy {
    font-size: 12px;
  }

  .stats-header {
    font-size: 21px !important;
    line-height: 40px !important;
  }

  .stats-ek-header {
    font-size: 12px !important;
  }
}

@media all and (max-width: 1024px) {
  svg {
    transform: scale(1);
  }
}

@media all and (max-width: 768px) {
  .nav-bar h1 {
    font-size: 28px;
  }

  .nav-bar a {
    display: none;
  }

  .hamburger {
    display: block !important;
  }

  .stats-header {
    font-size: 28px !important;
    line-height: 45px !important;
  }

  .stats-ek-header {
    font-size: 14px !important;
  }

  th {
    font-size: 10px;
  }

  td {
    font-size: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }

  .totals-cont {
    width: 95%;
    border-radius: 5px;
    margin: 0 auto;
  }

  .main-content-cont {
    width: 95%;
    margin: 0 auto;
  }

  .content-cont {
    max-width: 320px;
    border-radius: 5px;
  }

  .news-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 0;
    border-radius: 5px;
  }

  .aaa {
    justify-content: center;
    align-items: center;
  }

  .daily-cont-mobile {
    display: block !important;
    margin: 0 auto;
    padding: 10px;
  }

  .son-zamanlar-mobile {
    display: flex !important;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
  }

  .son-zamanlar-mobile .son-hafta-report {
    display: block;
    padding: 10px;
  }
  .son-zamanlar-mobile .son-ay {
    padding-left: 10px !important;
    padding: 0;
  }
  .son-zamanlar-mobile .son-hafta {
    padding-right: 10px !important;
    padding: 0;
  }
  .son-zamanlar-mobile .son-hafta div:nth-of-type(1) {
    text-align: center;
  }
  .son-zamanlar-mobile .son-ay div:nth-of-type(1) {
    text-align: center;
  }

  .son-zamanlar-desktop {
    display: none;
  }

  .daily-cont-mobile > div {
    text-align: center !important;
  }

  .daily-cont-mobile > .daily-report div {
    margin-top: 10px;
  }

  .daily-cont-mobile > .daily-report {
    flex-direction: column;
    padding-top: 0;
  }

  .main-content-cont-desktop {
    display: none;
  }
  .main-content-cont-mobile {
    display: flex !important;
  }

  .daily-cont-desktop {
    display: none;
  }

  .daily-cont {
    margin-top: 10px;
    max-width: 100vw;
    width: 95%;
    border-radius: 5px;
  }

  .haritalar {
    max-width: 100vw;
    width: 95%;
    border-radius: 5px;
    height: 520px;
    padding: 10px;
  }

  .son-zamanlar {
    max-width: 100vw;
    width: 95%;
    order: -3;
    border-radius: 5px;
  }

  .archive {
    max-width: 100vw;
    width: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
    padding-right: 0;
  }

  svg {
    transform: scale(0.7);
    position: absolute;
  }

  .risk-bari {
    width: 200px !important;
    bottom: 10px !important;
    right: 20px !important;
  }

  .haritalar-header {
    top: 10px !important;
    left: 20px !important;
  }

  .haritalar div:nth-of-type(2) {
    top: 10px;
    right: 20px;
  }

  .haritalar div:nth-of-type(3) {
    bottom: 10px;
    left: 20px;
  }
}

@media all and (max-width: 600px) {
  .aciklama {
    font-size: 20px;
  }
  .nav-bar h1 {
    font-size: 24px;
  }
  .nav-bar a {
    display: none;
  }
  .hamburger {
    display: block !important;
  }
  .haritalar-header div:nth-of-type(1) {
    font-size: 18px !important;
    line-height: 30px !important;
  }
  .haritalar-header div:nth-of-type(2) {
    font-size: 12px !important;
  }

  .archive-header {
    font-size: 18px !important;
    line-height: 30px !important;
  }
  svg {
    transform: scale(0.5);
  }
  .haritalar {
    height: 450px;
  }
  .risk-yy {
    font-size: 8px;
  }
  .risk-yy-1 {
    font-size: 24px;
  }
}

@media all and (max-width: 600px) {
  th {
    font-size: 8px;
  }

  td {
    font-size: 8px;
  }
}
